@media(max-width: 1170px){
    .form{
        &__input_prompt{
            margin-right: 0;
          }
    }
}

@media(max-width: 830px){
    .form{
        &__wrapper_input_block{
            flex-direction: column;
          }
        &__input_block{
            width: auto;
            margin-bottom: 4px;
        }
        &__input_wrapper{
            width: 70%;
        }
        &__input{
            width: 100%;
        }
        &__input_prompt{
            text-align: right;
            margin-bottom: 30px;
            margin-top: 0;
        }
        &__error{
            position: static;
        }
        &__first_line{
            margin-top: 26px;
        }
    }
}

@media(max-width: 666px){
    .form{
        &__input_block{
            flex-direction: column;
        }
        &__label{
            margin-bottom: 8px;
        }
        &__input_wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__checkbox_block{
            flex-direction: column;
        }
        &__submit_block{
            margin-left: 0;
            flex-direction: column;
        }
        &__input_error{
            width: 100%;
        }
    }
}