.form{
  &__wrapper_input_block{
    display: flex;
    justify-content: space-between;
  }
  &__input_block{
    width: 559px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: 18px;
    flex-shrink: 0;
  }
  &__label{
    font-size: 21px;
    line-height: 19px;
  }
  &__input_wrapper{
    position: relative;
  }
  &__input{
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #999999;
    width: 335px;
    padding: 6px 0 6px 12px;
  }
  &__line{
    width: 100%;
    height: 1px;
    background: #E5E4E4;
    margin-bottom: 32px;
  }
  &__input_prompt{
    font-size: 12px;
    line-height: 20px;
    color: #999999;
    margin-right: 64px;
    margin-top: 6px;
    text-align: left;
    width: 100%;
  }
  &__checkbox_block{
    width: 594px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: 18px;
    flex-shrink: 0;
    font-size: 16px;
line-height: 19px;
  }
  &__checkbox{
    width: auto;
  }
  &__checkbox_descr{

  }
  &__submit_block{
    margin-left: 224px;
    display: flex;
  }
  &__submit_btn{
    padding: 10px 18px;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background: #71C838;
     box-shadow: 0px 1px 0px #539D22;
     
  }
  &__error{
    font-size: 12px;
    line-height: 20px;
    color: #FF0000; 
    position: absolute;
    bottom: -24px;
    left: 0;
  }
  &__lastEdit{
    color: #999999;
    font-size: 12px;
    line-height: 20px;
    margin-left: 12px;
    margin-top: 10px;
  }
}